.grid-container {
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 15px 0px 30px;
}

.items-container.grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 3;
    gap: 5px;

    width: 100%;
    /* height: auto since, the items doesn't get evenly spaced and there's too much gap when less items */
    height: auto;
    overflow: auto;

    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}

.file-container.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 15px 5px 0px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    width: 100px;
    height: 100px;
}

.file-container.grid:hover {
    scale: 1.1;
}

.grid .p-text {
    /* adjust the text so that it doesn't decrease the icon size */
    font-size: 0.8rem;
    margin: 0px 2px 3px;
    padding: 5px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-container.grid:hover .p-text {
    overflow: visible;
    white-space: normal;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    z-index: 1;

    /* adjust the text so that it doesn't decrease the icon size */
    font-size: 0.8rem;
    text-align: center;
    margin: 0px 2px 3px;
    width: 100px;
    word-break: break-all;
}
