.view-canvas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #ffffffab;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 5px #ccc;

    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navigation-controls {
    position: sticky;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #d8d7d7bb;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.buttons-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100px;
    height: 100%;
}

.navigation-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #29212100;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 2px 5px;
}

.file-container {
    display: flex;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* display the overflow text in a overlay */

.file-icon,
.folder-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.file {
    background-image: url(../../../icons/file.svg);
}

.code-file {
    background-image: url(../../../icons/code-file.svg);
}

.text-file {
    background-image: url(../../../icons/text-file.svg);
}

.folder {
    background-image: url(../../../icons/folder.svg);
}

.zip {
    background-image: url(../../../icons/zip-folder.svg);
}
